J&J Customer Connect #if(${ctx.orderData.orderType} == 'ZHOR') House Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZOR') Standard Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZEX') International Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZNC') No Charge Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZKB') Replenishment Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZRE') Return Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZDEL') Delivered Order Confirmation #elseif(${ctx.orderData.orderType} == 'ZTOR') Trade Order Confirmation #else Affiliate Order Confirmation #end Confirmation - ${ctx.orderData.orderNumber}