## messageSource=classpath:/jnjb2bcore/messages/email-orderApprovalRejection_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<style>
input.span-18 {
	border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
	width: 698px;
}
.blank_row
{
    height: 20px
    background-color: #FFFFFF;
}	
.last {
    margin-right: 0;
    padding-right: 0;
}
.interfaceNotificationBody h2.arrowHeader span {
    float: right;
}
.interfaceNotificationBody ul {
    margin: 10px 0 20px;
    padding-bottom: 10px;
}
.interfaceNotificationBody ul li {
    clear: both;
    margin-top: 10px;
}
.interfaceNotificationBody label {
    display: block;
}
.interfaceNotificationBody label span {
    color: #B41601;
}
.interfaceNotificationBody input[type="text"], .interfaceNotificationBody select {
    color: #646464;
    padding-left: 2px;
    width: 420px;
}
.interfaceNotificationBody select {
    color: #646464;
    float: none;
    margin-bottom: 0;
    width: 230px;
}
.radioPanel label {
    display: inline;
}
.radioPanel input[type="text"] {
    display: block;
    margin: 4px 0;
}
.radioPanel input[type="radio"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-bottom: 0;
}
.interfaceNotificationBody input, .interfaceNotificationBody select {
    padding: 0;
}
.interfaceNotificationBody select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E5E5E5;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}
.interfaceNotificationBody .buttonWrapper > input {
    padding: 5px 15px;
}
h2.arrowHeader {
    border-bottom: 1px solid #84C5D4;
    color: #0A8CAA;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}
.priceSmall {
    color: #B41601;
    font-size: 12px;
}
.instructiontxt {
    color: #828282;
    font-size: 11px;
    margin-bottom: 10px;
}

body {
    line-height: 1.5;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}
ul li {
    color: #646464;
    font-size: 12px;
    list-style-type: none;
}
td {
	color: #646464;
}

table.readDashboard
{
	background:#EEE;
	color:#333;
	font-size:12px;
	font: 'Arial';
	text-align:center;
}

table.readDashboard th
{
	background:#CCC;
	font-weight:bold;
}
.inlineClass{display:inline;}
.inlineClass div{display:inline;}
</style>
<html>
<head>
	<title>Confirmation Email</title>
</head>
<body id="containerBody" style="font-size:10px;">
	<table style="background-color:#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
		<tr>
			<td style="vertical-align:top;">
				<table bgcolor="#ffffff" width="900" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
							<td style="color: red;" width="600" height="5" colspan="3" style="background-color:red;">
								<div style="width:11;height:11" >&nbsp;
							</td>
						</tr>
					
						<tr bgcolor="#ffffff">
						  <td style="color: #646464;" width="11" height="11">
						  <div style="width:11;height:11" />
						  </td>
						  <td style="color: #646464;" height="11">
								<table width="800">
									<tr>
										<td> ${ctx.cmsSlotContents.TopContentLogo1}</td>
									 <td style="color: #646464;" width="690" height="11">
										  <div style="width:690;height:11" >&nbsp;<div>
									  </td>
									<td> ${ctx.cmsSlotContents.TopContentLogo2}</td>
									</tr>
								</table>
						  </td>
		                  <td style="color: #646464;" width="1" height="11">
		                         <div style="width:1;height:11" />
		                   </td>
		                 </tr>

					<tr class="blank_row">	
						<td colspan="3">&nbsp;</td>
					</tr>
						
					<br>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td>
							<h2 class="arrowHeader">
								#if(${ctx.orderData.orderType} == 'ZHOR')
									House Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZOR')
									Standard Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZEX')
									International Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZNC')
									No Charge Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZKB')
									Replenishment Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZRE')
									Return Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZDEL')
									Delivered Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'ZTOR')
									Trade Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'KE')
									Consignment Charge Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'KB')
									Consignment Fill Up Order Confirmation
								#elseif(${ctx.orderData.orderType} == 'KA')
									Consignment Return Order Confirmation
								#else
									Affiliate Order Confirmation
								#end	
							</h2>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<!-- INSERT HERE -->
						<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
							<div class="span-18 last" id="addindirectcustomer" style="display:block">
								<div class="interfaceNotificationBody ">
									Dear $ctx.userFullName,<br/><br/>
									Thank you for your recent order ${ctx.orderData.orderNumber} placed via the J&J Customer Connect Portal. 
									Please note: Prices are excluding VAT. Availability and Prices are subject to change. Check confirmed details under Order Information later. 
									Fees, if applicable to your order, will only be add at invoice creation. Please review your final invoice.
																		
									<!-- Thank you for your recent order ${ctx.orderData.orderNumber} from J&J Customer Connect. You can view the status of our order by clicking <a href='$ctx.orderDetailUrl'>here</a>. If you have enabled shipment notifications, you will receive an email once a shipment for your order is on its way.<br/><br/>
									A summary of your purchase is provided below. -->
									<br/>
									<!-- STANDARD ORDER ZOR -->
									#if($ctx.orderData.orderType == "ZOR")
										<ul>
										
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end								
											
											You can review the attached PDF file for more details.
											
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											
										#end
									#end
									#if($ctx.orderData.orderType == "KE")
										<ul>
										<li>Consignment Charge Order Confirmation</li>
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end								
											
											You can review the attached PDF file for more details. 
											
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											
										#end
									#end
									#if($ctx.orderData.orderType == "KA")
										<ul>
										<li>Consignment Return Order Confirmation</li>
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end								
											
											You can review the attached PDF file for more details.
											
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											
										#end
									#end
									<!-- International ORDER ZEX -->
									#if($ctx.orderData.orderType == "ZEX")
										<ul>	
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
											#if(${ctx.orderData.orderType})
											<li><strong>Order Type -</strong> International Order</li>
											#end
											#if(${ctx.orderData.accountNumber})
											<li><strong>Account Number -</strong> ${ctx.orderData.accountNumber}</li>
											#end
											#if(${ctx.orderData.gln})
											<li><strong>Global Location Number -</strong> ${ctx.orderData.gln}</li>
											#end
											#if($ctx.orderData.b2bUnitName)
												<li><strong>Billing Name - </strong>
												$ctx.orderData.b2bUnitName
												</li>
											#end
											#if(${ctx.orderData.billingAddress.formattedAddress})
											<li><strong>Billing Address -</strong> ${ctx.orderData.billingAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.paymentType.displayName})
											<li><strong>Payment Type -</strong> ${ctx.orderData.paymentType.displayName}</li>
											#end
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											#if(${ctx.orderData.deliveryAddress.formattedAddress})
											<li><strong>Shipping Address -</strong> ${ctx.orderData.deliveryAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.attention})
											<li><strong>Attention Line -</strong> ${ctx.orderData.attention}</li>
											#end
											
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											<table class="productDetailsTable" style="border: 1px solid #e1e1e1;border-collapse:collapse;" border="1" cellpadding="5">
												<tr>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Line Status</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Product Name</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>J&J ID</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>GTIN</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Hazmat Message</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Lot Comment</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Ship Unit of Measure</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>UOM of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Definition of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Quantity</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Shipping Method</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Availability Date</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Delivery Date</strong></td>
												</tr>
												#foreach($entry in ${ctx.orderData.entries} )
													<tr>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.status)$entry.status#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.name)$entry.product.name#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.code)$entry.product.code#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.gtin)$entry.product.gtin#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.hazmatInd) $entry.hazmatInd #end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.lotComment)$entry.lotComment#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)$entry.product.deliveryUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.salesUnit)$entry.product.salesUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)${entry.product.deliveryUnit} (${entry.product.numerator}&nbsp;${entry.product.salesUnit})#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.quantity)$entry.quantity#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.shippingMethod)$entry.shippingMethod#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.expectedShipDate)$entry.expectedShipDate#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.scheduleLines && $entry.scheduleLines.get(0) && $entry.scheduleLines.get(0).deliveryDate)$entry.scheduleLines.get(0).deliveryDate#end</td>
													</tr>
												#end
											</table>
										#end
									#end
									<!-- NO charge ORDER ZNC -->
									#if($ctx.orderData.orderType == "ZNC")
										<ul>	
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
											#if(${ctx.orderData.orderType})
											<li><strong>Order Type -</strong> No Charge Order</li>
											#end
											#if(${ctx.orderData.accountNumber})
											<li><strong>Account Number -</strong> ${ctx.orderData.accountNumber}</li>
											#end
											#if(${ctx.orderData.gln})
											<li><strong>Global Location Number -</strong> ${ctx.orderData.gln}</li>
											#end
											#if($ctx.orderData.b2bUnitName)
												<li><strong>Billing Name - </strong>
												$ctx.orderData.b2bUnitName
												</li>
											#end
											#if(${ctx.orderData.billingAddress.formattedAddress})
											<li><strong>Billing Address -</strong> ${ctx.orderData.billingAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.reasonCode})
											<li><strong>Reason Code -</strong> ${ctx.orderData.reasonCode}</li>
											#end
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											#if(${ctx.orderData.dropShipAccount})
											<li><strong>Drop Ship Account # -</strong> ${ctx.orderData.dropShipAccount}</li>
											#end
											#if(${ctx.orderData.deliveryAddress.formattedAddress})
											<li><strong>Shipping Address -</strong> ${ctx.orderData.deliveryAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.attention})
											<li><strong>Attention Line -</strong> ${ctx.orderData.attention}</li>
											#end
											#if(${ctx.orderData.cordisHouseAccount})
											<li><strong>Cordis House Account -</strong> ${ctx.orderData.cordisHouseAccount}</li>
											#end
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											<table class="productDetailsTable" style="border: 1px solid #e1e1e1;border-collapse:collapse;" border="1" cellpadding="5">
												<tr>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Line Status</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Product Name</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>J&J ID</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>GTIN</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Hazmat Message</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Lot Comment</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Ship Unit of Measure</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>UOM of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Definition of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Quantity</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Shipping Method</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Availability Date</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Delivery Date</strong></td>
												</tr>
												#foreach($entry in ${ctx.orderData.entries} )
													<tr>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.status)$entry.status#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.name)$entry.product.name#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.code)$entry.product.code#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.gtin)$entry.product.gtin#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.hazmatInd) $entry.hazmatInd #end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.lotComment)$entry.lotComment#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)$entry.product.deliveryUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.salesUnit)$entry.product.salesUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)${entry.product.deliveryUnit} (${entry.product.numerator}&nbsp;${entry.product.salesUnit})#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.quantity)$entry.quantity#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.shippingMethod)$entry.shippingMethod#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.expectedShipDate)$entry.expectedShipDate#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.scheduleLines && $entry.scheduleLines.get(0) && $entry.scheduleLines.get(0).deliveryDate)$entry.scheduleLines.get(0).deliveryDate#end</td>
													</tr>
												#end
											</table>
										#end
									#end
									<!-- Replenishment Order ZKB -->
									#if($ctx.orderData.orderType == "ZKB")
										<ul>
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
											#if(${ctx.orderData.orderType})
											<li><strong>Order Type -</strong> Replenishment Order</li>
											#end
											#if(${ctx.orderData.accountNumber})
											<li><strong>Account Number -</strong> ${ctx.orderData.accountNumber}</li>
											#end
											#if(${ctx.orderData.gln})
											<li><strong>Global Location Number -</strong> ${ctx.orderData.gln}</li>
											#end
											#if($ctx.orderData.b2bUnitName)
												<li><strong>Billing Name - </strong>
												$ctx.orderData.b2bUnitName
												</li>
											#end
											#if(${ctx.orderData.billingAddress.formattedAddress})
											<li><strong>Billing Address -</strong> ${ctx.orderData.billingAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											#if(${ctx.orderData.dropShipAccount})
											<li><strong>Drop Ship Account # -</strong> ${ctx.orderData.dropShipAccount}</li>
											#end
											#if(${ctx.orderData.deliveryAddress.formattedAddress})
											<li><strong>Shipping Address -</strong> ${ctx.orderData.deliveryAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.attention})
											<li><strong>Attention Line -</strong> ${ctx.orderData.attention}</li>
											#end
											#if(${ctx.orderData.cordisHouseAccount})
											<li><strong>Cordis House Account -</strong> ${ctx.orderData.cordisHouseAccount}</li>
											#end
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											<table class="productDetailsTable" style="border: 1px solid #e1e1e1;border-collapse:collapse;" border="1" cellpadding="5">
												<tr>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Line Status</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Product Name</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>J&J ID</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>GTIN</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Hazmat Message</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Ship Unit of Measure</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>UOM of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Definition of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Quantity</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Shipping Method</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Availability Date</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Estimated Delivery Date</strong></td>
												</tr>
												#foreach($entry in ${ctx.orderData.entries} )
													<tr>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.status)$entry.status#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.name)$entry.product.name#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.code)$entry.product.code#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.gtin)$entry.product.gtin#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.hazmatInd) $entry.hazmatInd #end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)$entry.product.deliveryUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.salesUnit)$entry.product.salesUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)${entry.product.deliveryUnit} (${entry.product.numerator}&nbsp;${entry.product.salesUnit})#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.quantity)$entry.quantity#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.shippingMethod)$entry.shippingMethod#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.expectedShipDate)$entry.expectedShipDate#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.scheduleLines && $entry.scheduleLines.get(0) && $entry.scheduleLines.get(0).deliveryDate)$entry.scheduleLines.get(0).deliveryDate#end</td>
													</tr>
												#end
											</table>
										#end
									#end
									<!-- Return Order ZRE -->
									#if($ctx.orderData.orderType == "ZRE")
										<ul>
											#if(${ctx.orderData.orderNumber})
											<li><strong>Return Goods Authorization Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
											#if(${ctx.orderData.orderType})
											<li><strong>Order Type -</strong> Return</li>
											#end
											#if(${ctx.orderData.reasonCode})
											<li><strong>Reason Code -</strong> ${ctx.orderData.reasonCode}</li>
											#end
											#if(${ctx.orderData.accountNumber})
											<li><strong>Account Number -</strong> ${ctx.orderData.accountNumber}</li>
											#end
											#if(${ctx.orderData.gln})
											<li><strong>Global Location Number -</strong> ${ctx.orderData.gln}</li>
											#end
											#if(${ctx.orderData.customerPoNumber})
											<li><strong>Customer Reference PO -</strong> ${ctx.orderData.customerPoNumber}</li>
											#end
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											<table class="productDetailsTable" style="border: 1px solid #e1e1e1;border-collapse:collapse;" border="1" cellpadding="5">
												<tr>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Line Status</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Product Name</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>J&J ID</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>GTIN</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Quantity</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Lot Number</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Customer PO #</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Invoice #</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Reason for Rejection</strong></td>
												</tr>
												#foreach($entry in ${ctx.orderData.entries} )
													<tr>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.status)$entry.status#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.name)$entry.product.name#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.code)$entry.product.code#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.gtin)$entry.product.gtin#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.quantity)$entry.quantity#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.lotNumber)$entry.lotNumber#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.poNumber)$entry.poNumber#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.returnInvNumber)$entry.returnInvNumber#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.rejectionReason)$entry.rejectionReason#end</td>
													</tr>
												#end
											</table>
										#end
									#end
									<!-- Delivered Order ZDEL -->
									#if($ctx.orderData.orderType == "ZDEL")
										<ul>
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
										</ul>
									#end
									<!-- Consumer Orders House ZHOR / Trade ZTOR / Affiliate ZIO2 -->
									#if($ctx.orderData.orderType == "ZHOR" || $ctx.orderData.orderType == "ZTOR" || $ctx.orderData.orderType == "ZIO2")
										<ul>
											#if(${ctx.orderData.orderNumber})
											<li><strong>SAP Order Number -</strong> ${ctx.orderData.orderNumber}</li>
											#end
											#if(${ctx.orderData.status})
											<li><strong>Order Status -</strong> ${ctx.orderData.status}</li>
											#end
											#if($ctx.orderData.orderType == "ZHOR" && ${ctx.orderData.reasonCode})
											<li><strong>Reason Code -</strong> ${ctx.orderData.reasonCode}</li>
											#end
											#if(${ctx.orderData.soldToAccount})
											<li><strong>Sold-To Account Number -</strong> ${ctx.orderData.soldToAccount}</li>
											#end
											#if(${ctx.orderData.billingAddress.firstName} || ${ctx.orderData.billingAddress.lastName})
											<li>
												<strong>Sold-To Name - </strong>
												#if(${ctx.orderData.billingAddress.firstName})
													${ctx.orderData.billingAddress.firstName}
												#end 
												#if(${ctx.orderData.billingAddress.lastName})
													&nbsp;${ctx.orderData.billingAddress.lastName}
												#end
											</li>
											#end
											#if(${ctx.orderData.billingAddress.formattedAddress})
											<li><strong>Sold-To Address -</strong> ${ctx.orderData.billingAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.purchaseOrderNumber})
											<li><strong>PO # -</strong> ${ctx.orderData.purchaseOrderNumber}</li>
											#end
											#if(${ctx.orderData.deliveryAddress.companyName})
											<li>
												<strong>Ship-To Account Name - </strong>
												${ctx.orderData.deliveryAddress.companyName}
											</li>
											#end
											#if(${ctx.orderData.deliveryAddress.formattedAddress})
											<li><strong>Shipping Address -</strong> ${ctx.orderData.deliveryAddress.formattedAddress}</li>
											#end
											#if(${ctx.orderData.requestedDeliveryDate})
											<li><strong>Requested Delivery Date -</strong> ${ctx.orderData.requestedDeliveryDate}</li>
											#end
											#if($ctx.orderData.orderWeight)
											<li><strong>Order Weight -</strong> $ctx.orderData.orderWeight </li>
											#end
											#if($ctx.orderData.orderVolume)
											<li><strong>Order Volume -</strong> $ctx.orderData.orderVolume </li>
											#end
										</ul>
										#if($ctx.orderData.entries.size() > 0)
											<table class="productDetailsTable" style="border: 1px solid #e1e1e1;border-collapse:collapse;" border="1" cellpadding="5">
												<tr>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Product Name</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>J&J ID</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>UPC</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Ship Unit of Measure</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>UOM of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Definition of Eaches</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Weight</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Cubic Volume</strong></td>
													<td style="border: 1px solid #e1e1e1;border-collapse: collapse;background-color: #e1e1e1;"><strong>Quantity</strong></td>
												</tr>
												#foreach($entry in ${ctx.orderData.entries} )
													<tr>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.name)$entry.product.name#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.code)$entry.product.code#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.upc)$entry.product.upc#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)$entry.product.deliveryUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.salesUnit)$entry.product.salesUnit#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.product.deliveryUnit)${entry.product.deliveryUnit} (${entry.product.numerator}&nbsp;${entry.product.salesUnit})#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.orderWeight)$entry.orderWeight#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.cubicVolume)$entry.cubicVolume#end</td>
														<td style="border: 1px solid #e1e1e1;border-collapse: collapse;">#if($entry.quantity)$entry.quantity#end</td>
													</tr>
												#end
											</table>
										#end
									#end
									<br /><br />
									Best regards<br />
									Your Customer Services Team<br />
																		
									<br /><br />
									Johnson & Johnson Medical Products GmbH<br />
									Vorgartenstrasse 206B<br />
									1020 Vienna<br />
									Austria<br />
									Firmenbuch-Nr. FN 185815 h I Handelsgericht Wien . DVR 3003947<br /> 
								</div>
							</div>
							<!-- Content Ends -->
						</td>
						<td width="11" height="11">
						
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td width="900" style="color: #646464;max-width:780px;width:780px;">
							<div>
							${ctx.cmsSlotContents.EpicEmailFooter}
							</div>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>
</body>
</html>