## messageSource=classpath:/jnjb2bcore/messages/email-disputeInquiry_$lang.properties
#if(${ctx.disputeOrder})#if(!${ctx.disputeOrderData.productsAndQuantity.isEmpty()})${ctx.messages.overShipped} #end#if(!${ctx.disputeOrderData.disputedFees.isEmpty()})${ctx.messages.disputeFeeSubject} #end#if(!${ctx.disputeOrderData.correctPurchaseOrderNumber})${ctx.messages.incorPONum} #end#if(!${ctx.disputeOrderData.correctAddress})${ctx.messages.inAddress} #end#if(${ctx.disputeOrderData.accountNumber})${ctx.messages.accNum}:${ctx.disputeOrderData.accountNumber}#end#else#if(${ctx.disputeItemData.totalDisputedAmount})${ctx.messages.priceDis}:  #end#if(${ctx.disputeItemData.shortShippedProductCode})${ctx.messages.shortShip}: #end#if(${ctx.disputeItemData.overShippedProductCode})${ctx.messages.overShipped}: #end#if(${ctx.disputeItemData.accountNumber})${ctx.messages.accNum} : ${ctx.disputeItemData.accountNumber}#end #end