<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- ===================== UNSECURED ===================== -->
    <security:http security="none" pattern="/logout.jsp"/>
    <security:http security="none" pattern="/misconfiguration.jsp"/>
    <security:http security="none" pattern="/favicon.ico"/>

    <!-- ===================== SECURED ===================== -->
    <security:http entry-point-ref="samlEntryPoint"
                   authentication-manager-ref="samlAuthenticationManager"
                   use-authorization-manager="true">

        <security:intercept-url pattern="/**" access="isAuthenticated()"/>

        <security:custom-filter before="FIRST" ref="samlMetadataFilter"/>
        <security:custom-filter after="CORS_FILTER" ref="saml2LogoutResponseFilter"/>
        <security:custom-filter before="CSRF_FILTER" ref="saml2LogoutRequestFilter"/>
        <security:custom-filter after="CSRF_FILTER" ref="samlLogoutFilter"/>
        <security:custom-filter position="FORM_LOGIN_FILTER"
                                ref="samlLoginFormGenerationFilter"/>

        <security:csrf disabled="true"/>
        <security:access-denied-handler ref="samlAccessDeniedHandler"/>
    </security:http>

    <!-- ===================== LOGIN ===================== -->
    <bean id="samlLoginFormGenerationFilter"
          class="de.hybris.platform.samlsinglesignon.security.SAMLLoginPageGeneratingFilter">
        <constructor-arg ref="relyingPartyRegistrationRepository"/>
    </bean>

    <bean id="samlEntryPoint"
          class="de.hybris.platform.samlsinglesignon.security.SAMLEntryPoint">
        <constructor-arg ref="relyingPartyRegistrationRepository"/>
    </bean>

    <!-- ===================== LOGOUT ===================== -->
    <bean id="saml2LogoutResponseFilter"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2LogoutResponseFilter">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
        <constructor-arg ref="openSamlLogoutResponseValidator"/>
        <constructor-arg ref="successLogoutHandler"/>
        <property name="logoutRequestMatcher" ref="singleLogoutRequestMatcher"/>
    </bean>

    <bean id="saml2LogoutRequestFilter"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2LogoutRequestFilter">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
        <constructor-arg ref="openSamlLogoutRequestValidator"/>
        <constructor-arg ref="openSaml4LogoutResponseResolver"/>
        <constructor-arg>
            <list>
                <ref bean="logoutHandler"/>
                <ref bean="singleLogOutSuccessLogoutHandler"/>
            </list>
        </constructor-arg>
        <property name="logoutRequestMatcher" ref="singleLogoutRequestMatcher"/>
    </bean>

    <bean id="samlLogoutFilter"
          class="de.hybris.platform.samlsinglesignon.security.SAMLLogoutFilter">
        <constructor-arg ref="saml2RelyingPartyInitiatedLogoutSuccessHandler"/>
        <constructor-arg ref="successLogoutHandler"/>
        <constructor-arg>
            <list>
                <ref bean="logoutHandler"/>
                <ref bean="logoutSuccessEventPublishingLogoutHandler"/>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="logoutHandler"/>
            </list>
        </constructor-arg>
        <property name="filterProcessesUrl" value="/saml/logout/**"/>
    </bean>

    <bean id="saml2RelyingPartyInitiatedLogoutSuccessHandler"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2RelyingPartyInitiatedLogoutSuccessHandler">
        <constructor-arg ref="openSaml4LogoutRequestResolver"/>
    </bean>

    <!-- 🔥 FIXED FACTORY METHOD -->
    <bean id="openSaml4LogoutRequestResolver"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="openSaml4LogoutRequestResolver">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <bean id="openSaml4LogoutResponseResolver"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.OpenSaml4LogoutResponseResolver">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <bean id="openSamlLogoutRequestValidator"
          class="org.springframework.security.saml2.provider.service.authentication.logout.OpenSamlLogoutRequestValidator"/>

    <bean id="openSamlLogoutResponseValidator"
          class="org.springframework.security.saml2.provider.service.authentication.logout.OpenSamlLogoutResponseValidator"/>

    <!-- ===================== AUTH ===================== -->
    <security:authentication-manager alias="samlAuthenticationManager">
        <security:authentication-provider ref="samlAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="samlAuthenticationProvider"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getAuthenticationProvider"/>

    <!-- ===================== METADATA ===================== -->
    <bean id="samlMetadataFilter"
          class="org.springframework.security.saml2.provider.service.web.Saml2MetadataFilter">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolverIdAware"/>
        <constructor-arg ref="openSamlMetadataResolver"/>
        <property name="requestMatcher" ref="metadataRequestMatcher"/>
    </bean>

    <bean id="openSamlMetadataResolver"
          class="org.springframework.security.saml2.provider.service.metadata.OpenSamlMetadataResolver"/>

    <!-- ===================== RESOLVERS ===================== -->
    <bean id="defaultRelyingPartyRegistrationResolver"
          class="org.springframework.security.saml2.provider.service.web.DefaultRelyingPartyRegistrationResolver">
        <constructor-arg ref="relyingPartyRegistrationRepository"/>
    </bean>

    <!-- IMPORTANT alias for Spring Security 6 -->
    <alias name="defaultRelyingPartyRegistrationResolver"
           alias="relyingPartyRegistrationResolver"/>

    <bean id="defaultRelyingPartyRegistrationResolverIdAware"
          class="de.hybris.platform.samlsinglesignon.security.DefaultRelayingPartyRegistrationResolverIdAware">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <!-- ===================== UTIL ===================== -->
    <bean id="metadataRequestMatcher"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getMetadataRequestMatcher"/>

    <bean id="singleLogoutRequestMatcher"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getSingleLogoutRequestMatcher"/>

    <bean id="relyingPartyRegistrationRepository"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getRelyingPartyRegistrationRepository">
        <constructor-arg value="${sso.metadata.location:./WEB-INF/security/metadata.xml}"/>
        <constructor-arg value="${sso.entity.id:urn:ssoextension:hybris:de}"/>
        <constructor-arg ref="saml2SigningAndDecryptionCredentials"/>
        <constructor-arg ref="signatureValidatorFilter"/>
    </bean>

    <!-- ===================== LOGOUT HELPERS ===================== -->
    <bean id="logoutHandler"
          class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler">
        <property name="invalidateHttpSession" value="false"/>
    </bean>

    <bean id="logoutSuccessEventPublishingLogoutHandler"
          class="org.springframework.security.web.authentication.logout.LogoutSuccessEventPublishingLogoutHandler"/>

    <bean id="singleLogOutSuccessLogoutHandler"
          class="de.hybris.platform.samlsinglesignon.security.SingleLogOutSuccessLogoutHandler">
        <property name="tokenService" ref="tokenService"/>
    </bean>

    <bean id="successLogoutHandler"
          class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
        <property name="defaultTargetUrl"
                  value="${samlsinglesignon.logout.redirect.url}"/>
    </bean>

    <!-- ===================== FIREWALL ===================== -->
    <bean id="allowSemicolonHttpFirewall"
          class="org.springframework.security.web.firewall.StrictHttpFirewall">
        <property name="allowSemicolon" value="true"/>
    </bean>
    <security:http-firewall ref="allowSemicolonHttpFirewall"/>

    <!-- ===================== ACCESS DENIED ===================== -->
    <bean id="samlAccessDeniedHandler"
          class="de.hybris.platform.samlsinglesignon.security.SAMLAccessDeniedHandler">
        <constructor-arg ref="redirectionControllerBase"/>
    </bean>

</beans>
