<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Copyright (c) 2024 SAP SE or an SAP affiliate company. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd
              http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable auto-wiring -->
    <context:annotation-config/>
    <context:component-scan base-package="de.hybris.platform.samlsinglesignon.security"/>

    <!-- Security Filter Chain Bean (replaces security:http) -->
    <bean id="samlSecurityFilterChain"
          class="de.hybris.platform.samlsinglesignon.security.SamlSecurityFilterChainFactory"
          factory-method="create">
        <constructor-arg ref="samlAuthenticationProvider"/>
        <constructor-arg ref="saml2Filter"/>
        <constructor-arg ref="saml2RequestFilter"/>
        <constructor-arg ref="saml2LogoutRequestFilter"/>
        <constructor-arg ref="saml2LogoutResponseFilter"/>
        <constructor-arg ref="samlMetadataFilter"/>
        <constructor-arg ref="samlEntryPoint"/>
        <constructor-arg ref="samlAccessDeniedHandler"/>
        <constructor-arg ref="signatureValidatorFilter"/>
    </bean>


    <!-- Authentication Manager -->
    <bean id="samlAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg>
            <list>
                <ref bean="samlAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- SAML Login Form Generation Filter -->
    <bean id="samlLoginFormGenerationFilter"
          class="de.hybris.platform.samlsinglesignon.security.SAMLLoginPageGeneratingFilter">
        <constructor-arg name="repository" ref="relyingPartyRegistrationRepository"/>
    </bean>

    <!-- SAML2 Logout Response Filter -->
    <bean id="saml2LogoutResponseFilter"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2LogoutResponseFilter">
        <constructor-arg name="relyingPartyRegistrationResolver" ref="defaultRelyingPartyRegistrationResolver"/>
        <constructor-arg name="logoutResponseValidator" ref="openSamlLogoutResponseValidator"/>
        <constructor-arg name="logoutSuccessHandler" ref="successLogoutHandler"/>
    </bean>

    <!-- SAML Logout Filter -->
    <bean id="samlLogoutFilter"
          class="de.hybris.platform.samlsinglesignon.security.SAMLLogoutFilter">
        <constructor-arg name="singleLogoutSuccessHandler" ref="saml2RelyingPartyInitiatedLogoutSuccessHandler"/>
        <constructor-arg name="localLogoutSuccessHandler" ref="successLogoutHandler"/>
        <constructor-arg name="localLogoutHandlers">
            <list>
                <ref bean="logoutHandler"/>
                <ref bean="logoutSuccessEventPublishingLogoutHandler"/>
            </list>
        </constructor-arg>
        <constructor-arg name="singleLogoutHandlers">
            <list>
                <ref bean="logoutHandler"/>
            </list>
        </constructor-arg>
        <property name="filterProcessesUrl" value="/saml/logout/**"/>
    </bean>

    <!-- SAML2 Relying Party Initiated Logout Success Handler -->
    <bean id="saml2RelyingPartyInitiatedLogoutSuccessHandler"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2RelyingPartyInitiatedLogoutSuccessHandler">
        <constructor-arg ref="openSaml4LogoutRequestResolver"/>
    </bean>

    <!-- Logout Success Event Publishing Handler -->
    <bean id="logoutSuccessEventPublishingLogoutHandler"
          class="org.springframework.security.web.authentication.logout.LogoutSuccessEventPublishingLogoutHandler"/>

    <!-- SAML2 Logout Request Filter -->
    <bean id="saml2LogoutRequestFilter"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.Saml2LogoutRequestFilter">
        <constructor-arg name="relyingPartyRegistrationResolver" ref="defaultRelyingPartyRegistrationResolver"/>
        <constructor-arg name="logoutRequestValidator" ref="openSamlLogoutRequestValidator"/>
        <constructor-arg name="logoutResponseResolver" ref="openSaml4LogoutResponseResolver"/>
        <constructor-arg name="handlers">
            <list>
                <ref bean="logoutHandler"/>
                <ref bean="singleLogOutSuccessLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- OpenSAML Logout Validators -->
    <bean id="openSamlLogoutRequestValidator"
          class="org.springframework.security.saml2.provider.service.authentication.logout.OpenSaml4LogoutRequestValidator"/>

    <bean id="openSamlLogoutResponseValidator"
          class="org.springframework.security.saml2.provider.service.authentication.logout.OpenSaml4LogoutResponseValidator"/>

    <!-- OpenSAML4 Logout Response Resolver -->
    <bean id="openSaml4LogoutResponseResolver"
          class="org.springframework.security.saml2.provider.service.web.authentication.logout.OpenSaml4LogoutResponseResolver">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <!-- SAML Entry Point -->
    <bean id="samlEntryPoint" class="de.hybris.platform.samlsinglesignon.security.SAMLEntryPoint">
        <constructor-arg name="repository" ref="relyingPartyRegistrationRepository"/>
    </bean>

    <!-- SAML2 Web SSO Authentication Filter -->
    <util:constant id="DEFAULT_FILTER_PROCESSES_URI"
                   static-field="org.springframework.security.saml2.provider.service.web.Saml2WebSsoAuthenticationFilter.DEFAULT_FILTER_PROCESSES_URI"/>

    <bean id="saml2Filter"
          class="org.springframework.security.saml2.provider.service.web.Saml2WebSsoAuthenticationFilter">
        <constructor-arg name="authenticationConverter" ref="authenticationConverter"/>
        <constructor-arg name="filterProcessesUrl" ref="DEFAULT_FILTER_PROCESSES_URI"/>
        <property name="authenticationManager" ref="samlAuthenticationManager"/>
        <property name="authenticationSuccessHandler" ref="successRedirectHandler"/>
    </bean>

    <!-- SAML2 Authentication Request Filter -->
    <bean id="saml2RequestFilter"
          class="org.springframework.security.saml2.provider.service.web.Saml2WebSsoAuthenticationRequestFilter">
        <constructor-arg name="relyingPartyRegistrationResolver" ref="authenticationRequestContextResolver"/>
    </bean>

    <!-- Authentication Request Context Resolver -->
    <bean id="authenticationRequestContextResolver"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getAuthenticationRequestResolver">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolverIdAware"/>
    </bean>


    <!-- SAML Authentication Provider -->
    <bean id="samlAuthenticationProvider"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getAuthenticationProvider"/>

    <!-- SAML Metadata Filter -->
    <bean id="samlMetadataFilter" class="org.springframework.security.saml2.provider.service.web.Saml2MetadataFilter">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolverIdAware"/>
        <constructor-arg ref="openSamlMetadataResolver"/>
    </bean>

    <bean id="saml2MetadataAfterBeanCreationInterceptor" lazy-init="false"
          class="de.hybris.platform.samlsinglesignon.security.Saml2MetadataFilterAfterBeanCreationInterceptor">
        <constructor-arg name="saml2MetadataFilter" ref="samlMetadataFilter"/>
    </bean>

    <!-- Request Matchers -->
    <bean id="metadataRequestMatcher"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getMetadataRequestMatcher"/>

    <bean id="singleLogoutRequestMatcher"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getSingleLogoutRequestMatcher"/>

    <bean id="filterProcessesUrl"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getFilterProcessesUrl"/>

    <!-- OpenSAML Metadata Resolver -->
    <bean id="openSamlMetadataResolver"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getOpenSamlMetadataResolver"/>

    <!-- Relying Party Registration Resolver -->
    <bean id="defaultRelyingPartyRegistrationResolver"
          class="org.springframework.security.saml2.provider.service.web.DefaultRelyingPartyRegistrationResolver">
        <constructor-arg ref="relyingPartyRegistrationRepository"/>
    </bean>

    <!-- Authentication Token Converter -->
    <bean id="authenticationConverter"
          class="org.springframework.security.saml2.provider.service.web.Saml2AuthenticationTokenConverter">
        <constructor-arg name="relyingPartyRegistrationResolver" ref="defaultRelyingPartyRegistrationResolverIdAware"/>
    </bean>

    <!-- ID-Aware Relying Party Registration Resolver -->
    <bean id="defaultRelyingPartyRegistrationResolverIdAware"
          class="de.hybris.platform.samlsinglesignon.security.DefaultRelayingPartyRegistrationResolverIdAware">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <bean id="relyingPartyRegistrationRepository"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getRelyingPartyRegistrationRepository">


    <!-- SAML2 Signing and Decryption Credentials -->
    <bean id="saml2SigningAndDecryptionCredentials" class="de.hybris.platform.samlsinglesignon.utils.JKSUtil"
          factory-method="getSigningAndDecryptionSaml2Credentials">
        <constructor-arg value="${sso.keystore.location:/WEB-INF/security/samlKeystore.jks}"/>
        <constructor-arg type="java.lang.String" value="${sso.keystore.password:changeit}"/>
        <constructor-arg>
            <map>
                <entry key="${sso.keystore.privatekey.alias:hybris}"
                       value="${sso.keystore.privatekey.password:changeit}"/>
            </map>
        </constructor-arg>
        <constructor-arg type="java.lang.String" value="${sso.keystore.default.certificate.alias:hybris}"/>
    </bean>

    <!-- Signature Validator Filter -->
    <!-- Factory bean -->
    <bean id="signatureValidationFilterFactory"
          class="de.hybris.platform.samlsinglesignon.security.SignatureValidationFilterFactory">
        <constructor-arg ref="x509Certificates"/>
    </bean>

    <!-- Actual filter -->
    <alias name="signatureValidatorFilter" alias="signatureValidatorFilter"/>

    <bean id="signatureValidatorFilter"
          factory-bean="signatureValidationFilterFactory"
          factory-method="getSignatureValidationFilter"/>



    <!-- X509 Certificates -->
    <bean id="x509Certificates" class="de.hybris.platform.samlsinglesignon.utils.JKSUtil"
          factory-method="getAllCertificates">
        <constructor-arg value="${sso.keystore.location:/WEB-INF/security/samlKeystore.jks}"/>
        <constructor-arg type="java.lang.String" value="${sso.keystore.password:changeit}"/>
    </bean>

    <!-- HTTP Firewall -->
    <bean id="allowSemicolonHttpFirewall" class="org.springframework.security.web.firewall.StrictHttpFirewall">
        <property name="allowSemicolon" value="true"/>
        <property name="allowUrlEncodedSlash" value="true"/>
        <property name="allowUrlEncodedPercent" value="true"/>
        <property name="allowUrlEncodedPeriod" value="true"/>
        <property name="allowBackSlash" value="false"/>
        <property name="allowNull" value="false"/>
    </bean>

    <!-- Success Redirect Handler -->
    <bean id="successRedirectHandler"
          class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/"/>
    </bean>

    <!-- Success Logout Handler -->
    <bean id="successLogoutHandler"
          class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
        <property name="defaultTargetUrl" value="${samlsinglesignon.logout.redirect.url:/}"/>
    </bean>

    <!-- OpenSAML4 Logout Request Resolver -->
    <bean id="openSaml4LogoutRequestResolver"
          class="de.hybris.platform.samlsinglesignon.security.SamlObjectsFactory"
          factory-method="getOpenSaml4LogoutRequestResolver">
        <constructor-arg ref="defaultRelyingPartyRegistrationResolver"/>
    </bean>

    <!-- Logout Handler -->
    <bean id="logoutHandler"
          class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler">
        <property name="invalidateHttpSession" value="true"/>
        <property name="clearAuthentication" value="true"/>
    </bean>

    <!-- Single Logout Success Handler -->
    <bean id="singleLogOutSuccessLogoutHandler"
          class="de.hybris.platform.samlsinglesignon.security.SingleLogOutSuccessLogoutHandler">
        <property name="tokenService" ref="tokenService"/>
    </bean>

    <!-- Access Denied Handler -->
    <bean id="samlAccessDeniedHandler" class="de.hybris.platform.samlsinglesignon.security.SAMLAccessDeniedHandler">
        <constructor-arg ref="redirectionControllerBase"/>
    </bean>

</beans>