*.classpath
*.class
*.xsd
*.project
*.prefs

platformhome.properties
org.eclipse.jdt.core.prefs
build.xml
*-testclasses.xml
**/*-hmctestclasses.xml
**/*-webtestclasses.xml

gensrc/
src/com/jnj/la/core/jalo/
src/com/jnj/core/jalo/
hmc/
eclipsebin/
bin/

regional/la/jnj-la-ext/*/web/webroot/

global/*/*/src/com/jnj/core/jalo/
regional/la/*/*/src/com/jnj/la/core/jalo/

**/classes
.gradle
.idea
*.iml
gitInit.sh
**/platformhome.properties

global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/addonsrc/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/WEB-INF/_ui-src/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/WEB-INF/messages/addons/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/WEB-INF/tags/addons/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/WEB-INF/tld/addons/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/WEB-INF/views/addons/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/_ui/addons/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/cmscockpit/
global/jnj-b2b-accelerator/jnjb2bglobalstorefront/web/webroot/cockpit/

**/hybris4intellij.properties