/* shipment css  start  */

.shipmentAddressDetails{
	padding: 30px 30px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 11px 0 rgba(0, 0, 0, 0.19);
	
}

.shiptoAlternativeAddress{
	margin-top:30px;
}
.shipping-row-padding{
    margin-top:20px;padding-left:15px;padding-right:15px;
}
.ship-address-pane{
    padding:20px;background-color:white;
}
.shipping-address{
	padding-left:15px;padding-right:15px;
}
.shipping-address-padding
{
     padding: 30px !important;
}
.shipping-address-padding2
{
     padding: 35px !important;
}
.checkoutshipping .table>thead:first-child>tr:first-child>th:first-child {
    width: 250px !important;
	border-right: none;
}
.checkoutshipping div#ordersTablemobile_info{
	float: left;
	padding: 19px 0px 1px 20px;
  }  
	
.checkoutshipping div#ordersTablemobile_paginate {
	float: right;
	padding: 10px 25px 0 0px;
}
.checkoutshipping  div#ordersTablemobile_length {
    display: none;
}
#ordersTablemobile.table.table-bordered.dataTable tbody td:last-child {
    text-align: left;
    padding-left: 34px;
}
.checkoutshipping  div#ordersTablemobile_wrapper {
    background-color: #fff;
}
.skyBlue {
    color: #08a !important;
}
 .checkoutshipping .imgprop{
    width: 18%;
    height: 75px;
    vertical-align: top;
    margin-top: 17px;	
}
.checkoutshipping .Tabsubtxt{
	width:60%;
}
 .Tabsubtxt{
	margin-left: 10px;
	margin-top: 10px;
	line-height: 10px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;	
}
span.glyphicon.glyphicon-calendar {
    color: #08a;
}
.date-picker {
    border-right: none;
	font-size: 12px;
    font-weight: bold;
}
label.input-group-addon.btn {
    background: #fff;
}
.input-group {
   width: 66%;
}	
.checkoutshipping table.table-bordered.dataTable tbody td:last-child {
    /* padding-left: 45px; */
    text-align: center;
    padding: 0;
}
.checkoutshipping table.table-bordered.dataTable tbody td{
	vertical-align:middle;
}
.dateselector  .input-group {
    width: 18%;
	float:left;
}
.dateselector{	
    padding: 20px 0px 0px 100px !important;
}
.dateselector .form-group {
    margin-bottom: 15px;
    float: left;
	margin-right: 18px;
}
.setshipping{
	margin: 5px 10px;
	float:left;
	font-size: 14px;
    font-weight: bold;
}
.checkoutshipping #ordersTable_wrapper div.row:nth-of-type(3) {
   // border: 1px solid red;
    background-color: #fff;
    width: 100%;
    margin-left: 0;
    padding: 20px 15px 10px 15px;
}
.checkoutshipping  div#ordersTable_paginate {
		float: right;	
		padding: 17px 30px 0 0;
	}
.checkoutshipping  div.dataTables_wrapper div.dataTables_info {
	float: right;
	margin: 19px 20px 0 0;
}

.line {
    width: 29% !important;
    margin-right: 48px !important;
}
.padding0{
	padding: 0px !important   
   }
.padding0 span{
	position: relative;
    top: -9px;
   }	
.pull-right.hypen {
    margin-right: 35px;
}
.paddingforText{
	    padding-left: 6px !important;
		font-weight: bold;
}
.marginright17{
	    margin-right: 17px;
}
.marginright20{
	    margin-right: 20px;
}
.marginright34{
	     margin-right: 34px;
}
.checkoutshipping .Subcontainer table.dataTable {   
    margin-left: 2px;
	    border: none;
}
.bordernone{
	border-right:none;
}
.bordernone tbody tr td {
   border-right: none !important;
}
@media screen and (max-width: 767px) {
	.checkoutshipping  div#ordersTable_paginate {
		float: right;	
		padding: 17px 30px 0 0;
	}
	.checkoutshipping  div.dataTables_wrapper div.dataTables_info {
		float: right;
		margin: 0px 20px 0 0;
	}
	.line {
		width: 77% !important;
	}
	.input-group {
		width: 93%;
	}
}