/* check boxes alignments start*/
input.checkboxstyle{
	-webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #08accc;
    border-radius: 3px;
    position: relative;
    margin-right: 8px;
    top: 3px;
	font-size:12px;
}
input[type=checkbox]:checked{
	background:url("") no-repeat;
	width: 16px;
    height: 16px;
	background-color:#505;
}

/* check boxes alignments ends*/

/* dropdown alignments */
.selectmethod .form-control {
    background: url('../images/downarrow.png') no-repeat;
    background-position: 115px 9px;
    -webkit-appearance: none;
    background-size: 15px 15px;
    width: 137px;
    opacity: 0.9;
	color: #828282;
	margin-bottom: 10px;
	background-color: #fff;
	    font-size: 12px;
    font-weight: bold;

}
/* dropdown alignmentsends */

/* datepicker table css*/
.firstline{
	font-size: 15px;
	color: #0a8caa;
	margin-bottom: 3px;
} 
 .firstline strong{
	 line-height:25px;
 }
 .secondline{
        font-size: 12px;
        color: #828282;
}
 .thirdline{
        padding-top: 8px;
        font-size: 10px;
        color: #828282;
}
/* datepicker table css ends */