html, body {
	position: relative;
	height: 100%;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#828282;
	margin: 0;
	padding: 0;
}
.border{
	border:1px solid red;
}
.font8pixel{
	font-size:12px;
}
.padding10px{
	padding:10px;
	}
.centered{
    text-align: center;
    padding: 18px 0px;
    border-top: 1px solid #f2f2f2;
}
a {
    color: #0c8caa;
    text-decoration: none;
}
a:focus, a:hover {
    color: #0c8caa;
    text-decoration: none;
}
.marginbtm30{
	margin:40px 0 40px 0;
}
.jnj-body-padding{
	padding:25px;
}
.fontsize12{
	font-size:12px;
} 
.textboxstyle{
	width: 400px;
    display: inline-block;
    height: 43px;
}
.margintop30{
	margin-top: 30px;	
} 
.hidden{
display:none;
}
.padding{
	padding:15px 15px;	
}
.anchorwhiteText, .anchorwhiteText:hover, .anchorwhiteText:focus{
	color:#fff;
    font-size: 12px;
    font-weight: bold;
}
sup {
    font-size: 9px;
}
/*  Accordians css*/

.tabsize{
    margin-left: 6px;
    font-size: 10px;
    color: #828282;
    background-color: #fff;
    width: 99%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1); 
}
 .details{
        font-size: 12px;
    padding-left: 28px;
    line-height: 1.6;
}
 .txtWidth{
    width: 60px;
}
 .ref_no{
        padding-left: 10px;
        font-size: 14px;
    color: #0a8caa;
}
/*  Accordians  css ens here*/
 
 /* button style starts */
.btnclsactive{
    color: #fff;
    border-radius: 27px;
    background-color: #0a8caa;
    text-align: center;
    padding:10px 15px;
}
.btnclsactive.focus,
.btnclsactive:focus {
    color: #fff;
    background-color: #0a8caa;
    border-color: #8c8c8c
}
.btnclsactive:hover {
    color: #fff;
    background-color: #087891;
    border-color: #adadad
}
.disabled {
	 color: #fff !important;
	 background-color: #d3d3d3 !important;
}
.btnclsnormal{
	 color: #0a8caa;
	 border-radius: 20px; 
	 border-color: #d3d3d3;
	 background-color: #fff;
}
.btnclsnormal.focus,
.btnclsnormal:focus {
    color: #0a8caa;
	border-color: #0a8caa;
    background-color: #fff;  
}
.btnclsnormal:hover {
    color: #0a8caa;
	border-color: #0a8caa;
    background-color: #fff;
}
/* button style ends */   

/* Breadcrumb css starts */

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:5px 12px 5px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:5px 6px 5px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:5px 18px 5px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
.breadcrumbborderradiusleft{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.breadcrumbborderradiusright{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* Breadcrumb css Ends here */

/* subtotal and shipping css starts here*/
.basecontainer{
	margin-top: -7px;
	margin-left: 3px;
	width: 99.5%;
	color: #828282;
	background-color: #fff;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}
.bgcls1{
        padding: 30px 0px 0px 0px;
}
 .bgcls2{
        padding: 10px 0px 0px 0px;
}
 .bgcls3{
        padding: 5px 0px 20px 0px;
}
 hr {
        margin-top: 10px; 
}
 .line{
    width: 34%;
    margin-right: 72px;
}
 .removetxt{
        font-size: 10px;
}

/* subtotal and shipping ends here */