/* order details css*/

.orderdetailscontainer, .shippingDetailsContainer{
    background: #fff;
    padding: 20px 0px 0px 0px;
	border-bottom: 1px solid #f2f2f2;
	margin: 20px 0 20px 0;
}
.shippingDetailsContainer{
	margin: 20px 0 0px 0;
	 padding: 20px 0px 20px 0px;
}

.fontsize25{
	font-size: 25px;
    font-weight: 600;
}	 
.fontsize17{
	font-size: 17px;
}
.downloadLinks{
	margin-top:25px;
	padding-right:30px;	
}
.shippingAddress p{
	margin-bottom:0;
	font-size:13px;
    font-weight: bold;	
}
.shippingAddressDetails a{
	font-size: 13px;
    font-weight: bold;
}
.padding30px{
	padding:21px 0 25px 15px
}
.ordertypedetails {
    border-bottom: 1px solid #f2f2f2;
}
.shippingAddress{
	 border-right: 1px solid #f2f2f2;
}
.borderbtm{
	 border-bottom: 1px solid #f2f2f2;
}
.shippingAddressDetails h6{
	font-size:10px;
	font-weight: bold;
}
.orderDetailsAndStatus p{
	    font-size: 17px;
    font-weight: bold;
    margin-bottom: 24px;
}
.marginbtm20{
	margin-bottom: 20px;
}
#ordersTable_length .form-control{
	background: url('../images/downarrow.png') no-repeat;
	background-position: 75px 12px;
	-webkit-appearance: none;
	background-size: 15px 15px;
	margin: -2px 6px 0 6px;	
}	
.orderDetailsTable  div.dataTables_wrapper div.dataTables_length select, .checkoutshipping  div.dataTables_wrapper div.dataTables_length select {
    width: 105px;
    display: inline-block;
    height: 38px;
}
.orderDetailsTable .input-sm {
    height: 30px;
    padding: 5px 20px;
}
.orderDetailsTable .table>thead tr th:nth-child(2) {
    width: 120px !important;
}
.orderDetailsTable table.table-bordered tbody th, .orderDetailsTable  table.table-bordered tbody td:first-child , .orderDetailsTable  table.table-bordered tbody th, .orderDetailsTable  table.table-bordered tbody td:last-child
,.orderDetailsTable  .table>thead:first-child>tr:first-child>th:first-child, .orderDetailsTable  .table>thead:first-child>tr:first-child>th:last-child{
    text-align: left ;
   padding-left: 25px ;
}
.orderDetailsTable table.table-bordered tbody td:last-child  p:last-child a{
	text-transform: uppercase;
	    font-size: 13px;
}
.orderDetailsTable table.table-bordered tbody td:last-child{
	    padding-left: 10px ;
		word-break: break-all;
		width: 37px !important;
		
}
.orderDetailsTable table.table-bordered.dataTable tbody th, .orderDetailsTable table.table-bordered.dataTable tbody td{
	font-size:10px;
}
.orderdetailscontainer table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th{
	border-top:none;
}
.orderdetailscontainer .table>thead>tr>th{
	border-bottom:none;
}
.orderdetailscontainer table>thead:first-child>tr:first-child>th:last-child, .orderdetailscontainer table>thead:first-child>tr:first-child>th:first-child,.orderdetailscontainer table>thead:first-child>tr:first-child>th:nth-child(2),.orderdetailscontainer table>tbody>tr>td,.orderdetailscontainer table>tbody>tr>th,.orderdetailscontainer table>tfoot>tr>td,.orderdetailscontainer table>tfoot>tr>th,.orderdetailscontainer table>thead>tr>td,.orderdetailscontainer table>thead>tr>th{
	text-align: left;
    padding-left: 0;
    padding-bottom: 0;
	vertical-align: middle;
}
.orderDetailsTable table tbody tr td:nth-child(2) ,.orderDetailsTable table thead tr th:nth-child(2){
    text-align: left !important;
    padding-left: 15px;
}
.orderDetailsTable div#ordersTable_wrapper .row:first-child .col-sm-6 {    
    width: 96.2%;
    background: #fff;
    padding:20px 0px 10px 15px;
    margin-left: 15px;
}
.orderDetailsTable div#ordersTable_wrapper .row:first-child .col-sm-6:nth-child(2) {
    display: none;
}
.orderDetailsTable table.dataTable{
	margin-top:0px !important;
}
/*  orders details table ends here */
