<!DOCTYPE html>
<html style="font-family: Helvetica Neue,Arial,Helvetica,sans-serif;font-size: 75%;">
<table>	
<tr><td>
Dear CSR,</td></tr>
<tr><td>Find attached the list of orders created on Hybris but not on SAP, please investigate:</td></tr>
<tr><td>JJCC LATAM</td></tr>
</table>			
</html>