#if($ctx.enableUser == "enableUser") 
[eCareShop] Acceso Habilitado
#elseif ($ctx.enableUser == "createUser")
[eCareShop] Bienvenido a eCareShop
#elseif ($ctx.enableUser == "createUserPassword")
[eCareShop] Bienvenido a eCareShop - Más Instrucciones
 #end