 #if($ctx.enableUser == "enableUser") 
[eCareShop] Access Enabled
#elseif ($ctx.enableUser == "createUser")
[eCareShop] Welcome to eCareShop
#elseif ($ctx.enableUser == "createUserPassword")
[eCareShop] Welcome to eCareShop - More Instructions
#end    