.sectionBlock{width: 950px;}
//.arrowHeader { margin-top: 150px; padding-top: 180px; padding-left:350px; border-bottom: 1px solid #84c5d4; line-height: 30px; margin-bottom: 0px;margin-left:350px; color: #0A8CAA; font-size: 16px; }
.tableHead { background: #f7f7f7; border: 1px solid #e5e5e5; padding: 10px 20px; height: 37px; margin-top: 20px; color: #828282; font-size: 13px; line-height: 15px; }
.crossRefTableHead { background: #f7f7f7; border: 1px solid #e5e5e5; padding: 10px 20px; height: 37px; margin-top: 20px;width: 950px; }
.crossRefTableRow {border: 0px solid #e5e5e5; padding: 10px 20px; height: 37px; margin-top: 20px;width: 950px; }
.tableBody { color: #f7f7f7;  border: 1px solid #e5e5e5; padding: 10px 20px; height: 37px; margin-top: 20px; font-size: 13px; line-height: 15px; }
.even {background: none repeat scroll 0 0 #fff;}
.txtFont {color: #646464;font-size: 12px;padding: 10px 20px; height: 30px; margin-top: 20px;  }
.descBig {
    color: #0a8caa;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
.descMid {
    color: #828282;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}
.descSmall {
    color: #a4a4a4;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
}

.descExtraSmall {
    color: #a4a4a4;
    font-size: 9px;
    line-height: 16px;
    margin: 0;
}
.priceActive { color: #b41601; font-size: 14px; font-weight: bold; }
.priceSmall { color: #b41601; font-size: 12px; }
.priceList { color: #b41601; font-size: 14px; }
.prodImage {float: left; }
.prodDesc { width: 270px; float: right; }
.prodDesc_a {
    color: #0a8caa;
    font-weight: normal;
    text-decoration: none;
}
h4 {font-size: 12px;margin-top: 0; font-weight: normal;}
h1, h2 { color: #12C2E9; font-size: 24px; font-weight: normal;}
h3 { color: #0a8caa; font-size: 16px; font-weight: normal; }
.orderSubmission { min-height: 134px; background: #fafafa; border: solid 1px #e5e5e5; padding: 20px 20px 0 20px; }
p { margin: 10px 0 10px 0; color: #828282; }
.nopadding { margin: 0 0 0 0; color: #828282; }
body { background: #fafafa; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
.orderAcknowledge { width: 362px; float: left; background: url(../images/ftline.gif) 100% 50% no-repeat; }
.normalfont{font-size: 12px;color: #828282;}
.strong{font-weight: bold;}
.priceList del, .priceSmall del {
    color: #828282;
}
.orderDetHead {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #e5e5e5;
    min-height: 40px;
    padding: 5px 20px;
}
.orderDetRow {
    //float: left;
    min-height: 65px;
    //padding: 20px 0;
	padding: 5px 20px;
    width: 100%;
}
.floatRight{float: right !important;}
.priceSummary  {
    font-size: 16px;
}
.priceSummaryActive { color: #b41601; font-size: 16px; font-weight: bold; }
.OrderHistoryDetails {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 20px;
}
.withWhiteBackgrnd {
    background: none repeat scroll 0 0 #ffffff;
    height: 34px;
    width: 320px;
}
.withWhiteBackgrnd {
    color: #828282;
    font-size: 14px;
    line-height: 32px;
    padding-left: 15px;
}
#disclaimerTotal {
    font-size: 9px;
    line-height: 16px;
}
.alignbottom
{vertical-align:bottom;}



