.margintop15{
	margin-top:15px;
}
.margintop10 {
    margin-top: 10px;
    margin-bottom: -5px;
}
#buildorderpage .canceltxt{
	font-size: 14px;
	color: #0a8caa;
    padding: 12px 20px 0px 0px;
}
#buildorderpage .quescls{
	padding: 2px 6px;
    font-size: 12px;
    background-color: #0a8caa;
    margin-top: 8px
}
#buildorderpage .table-padding{
	//margin-top: 30px;
	margin-left: 0px;
    width: 100%;
	background-color: #fff;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0px rgba(0, 0, 0, 0.19); 
}
.headingTxt{
	    font-family: jnjheading1font;
}
#buildorderpage  .subcontent1{
    font-size: 30px;
    padding: 0px 0px 20px 5px;
}
#buildorderpage .subcontent2{
    font-size: 15px;
	padding: 25px 10px 10px 10px;
	border-top: 1px solid #f2f2f2;
}
#buildorderpage .subtxt{
	font-size: 14px;
}
#buildorderpage .btnclsactive {
	padding: 10px 30px;
}
#buildorderpage .btnclsnormal {
	padding: 10px 30px;
}
/*  hiding bootsrap show items, search and pagination  */
#buildorderpage div.dataTables_wrapper div.dataTables_filter, #buildorderpage  #ordersTable_length, #buildorderpage  div#ordersTable_wrapper .row:nth-child(3)
{
 display:none; 
}
#buildorderpage .subcontent3{
	padding: 30px 0px 18px 0px;
}
#buildorderpage .boxprop{
	width: 60%;
    display: inline;
	margin-left: 10px;
}
.quantitybox {
    width: 50% ;
}
#buildorderpage .txtWidth{
	width: 60px;
	margin-top: 0px;
}
#buildorderpage .tabdata{
	font-size: 10px;
}
#buildorderpage table.dataTable{
	margin-bottom: 0px !important;
}
#buildorderpage table.table-bordered.dataTable tbody td:last-child {
    padding-left: 10px;
	text-align: center;
    vertical-align: middle;
}
#buildorderpage table.table-bordered.dataTable tbody th, #buildorderpage table.table-bordered.dataTable tbody td:first-child,#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage table.table-bordered.dataTable tbody td:nth-child(2),#buildorderpage .table>thead:first-child>tr:first-child>th:first-child,#buildorderpage .table>thead:first-child>tr:first-child>th:nth-child(2){
	text-align: left;
    padding-left: 25px;
}
#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage  table.table-bordered.dataTable tbody td{
	font-size: 14px;
}
#items-in-order-popup .build-order-content{
	font-size:16px;
	line-height:30px;
}
#items-in-order-popup .btn{
	/* width:130px; by naga*/
}



@media screen and (max-width: 1226px){
	#buildorderpage .boxprop {
		width: 50%;
	}
}
@media screen and (max-width: 968px){
	
	#buildorderpage .btnclsnormal{
		width: 100%
	}
	#buildorderpage .boxprop {
		width: 58%;
	}
/* 	.mobile-no-pad{
		padding-left: 0px;
		padding-right: 0px;
	}
 */	/* #buildorderpage .Subcontainer{
		margin-right: 4px;
		margin-left: -7px;
	} */
	#buildorderpage .subcontent2{
		padding: 25px 0px 10px 0px;
	}
	#buildorderpage .subcontent3{
		padding: 20px 0px 18px 0px;
	}
	#buildorderpage .table-padding{
		margin-top: 25px;
	}
	#buildorderpage .quantitybox{
		//margin-left: 54px;
		width: 45%
	}
	#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage table.table-bordered.dataTable tbody td:first-child,#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage table.table-bordered.dataTable tbody td:nth-child(2),#buildorderpage .table>thead:first-child>tr:first-child>th:first-child,#buildorderpage .table>thead:first-child>tr:first-child>th:nth-child(2){
		padding-left: 12px;
	}
	#buildorderpage .quantitymbox{
		padding-bottom: 25px;
		border-bottom: 1px solid #f2f2f2;
	}
	#buildorderpage  .cartbtn{
		padding-left: 20px;
		padding-right: 20px;
	}
	#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage table.table-bordered.dataTable tbody td:first-child,#buildorderpage table.table-bordered.dataTable tbody th,#buildorderpage table.table-bordered.dataTable tbody td:nth-child(2),#buildorderpage .table>thead:first-child>tr:first-child>th:first-child,#buildorderpage .table>thead:first-child>tr:first-child>th:nth-child(2){
		padding-left: 20px;
	}
}
@media screen and (max-width: 480px){
	#buildorderpage .quantitybox{
		margin-left: 59px;
		width: 35%;
	}
	#buildorderpage .subcontent1 {
		font-size: 24px;
	}
	#buildorderpage .btnclsactive {
		width: 50%;
	}
}
@media screen and (max-width: 480px){
	#items-in-order-popup .btn{
		width:130px;
	}
	 .createTemplate .breadcrumb +.row.content,  .createTemplate .breadcrumb +.row .content,  .createTemplate .headingTxt.content {
		font-family: jnjheading1font;
		font-size: 36px;
		margin-bottom: 30px !important;
	}
}

/* New Template Page CSS starts here*/
.createTemplate .dataTables_wrapper .row:nth-of-type(3) { 
    display:none;  
}
.createTemplate .table-padding { 
    padding-top: 10px ;  
}
 .createTemplate .subcontent1 {
    font-size: 30px;
    padding: 0px 0px 5px 10px !important;
}
.createTemplate .glyphicon-question-sign {
    margin-top: 10px;
}
/* New Template Page CSS ends here*/
