#catalog-page .catalog-accordian-body{
	padding: 25px 35px;
	background-color:rgb(251,251,251);
	border-bottom: 1px solid #f2f2f2;
}
#catalog-page .border-right-grey{
 border-right:1px solid #f2f2f2;
}
#catalog-page .ref_no {    
    font-size: 24px;
    color: #828282 !important;
 padding-left:0px;
}