#ContractDetailsPage .contract-label-head{
	font-size:10px;
	font-family:jnjlabelfont;
}
#ContractDetailsPage .contract-content-holder{
	margin-bottom:20px;
}
#ContractDetailsPage .contract-content-holder .contract-label-head{
	margin-bottom:8px;
}
#ContractDetailsPage  .contract-cutom-name-label{
	font-size:10px;
	font-family:jnjlabelfont;
	margin-bottom:10px;
}
#ContractDetailsPage .contract-content{
	font-size:18px;
	line-height:20px;
}
#ContractDetailsPage .contract-leftTotop-content{
		margin-top:25px;
}
#ContractDetailsPage .contract-rightTobottom-content{
	margin-top:25px;
}
#ContractDetailsPage #contract-separator{

	//padding:0px !important;
	//background-color:#f2f2f2;
	//height:200px;
	border-right:1px solid #f2f2f2;
}
#ContractDetailsPage .contract-content-active{
	color:#5cb85c;
} 
#ContractDetailsPage #contract-num{
	font-weight:bold;
	font-size:30px;
}
#ContractDetailsPage #download-link{
	margin-top:20px;
}
#ContractDetailsPage .jnj-panel-footer{
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 15px;
}
#ContractDetailsPage .jnj-panel-header{
	padding: 15px 15px 15px 15px;
}
#ContractDetailsPage .jnj-panel-body{
	padding: 0px 16px 10px 16px !important;
	border-bottom:none;
}
#ContractDetailsPage .btnclsnormal{
	padding: 10px 40px;
}

/* Changes for account popup cancel button */

#ContractDetailsPage .slctaccount{
	padding: 10px 15px !important;
}
#ContractDetailsPage .contract-add-to-cart{
    padding: 10px 30px;
	margin-bottom:40px;
	margin-top:15px;
}
#ContractDetailsPage .contract-add-to-cart-bottom{
    padding: 10px 30px;
	margin-bottom:40px;
	margin-top:40px;
}
#ContractDetailsPage .mainbody-container{
	//box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
	webkit-box-shadow: 0 0 5px 2px #eee;
	-moz-box-shadow: 0 0 5px 2px #eee;
	box-shadow: 0 0 5px 2px #eee;
}
#ContractDetailsPage .checkbox label::before{
	top: 1px;
}
#ContractDetailsPage .dataTable .checkbox{
	padding-left:0px !important
}
#ContractDetailsPage .contract-check-content{
	padding-left:10px !important
}
#ContractDetailsPage .contract-check-content div{
	margin-top:5px !important
}
#ContractDetailsPage #contract-head-chck-label{
	padding-left:10px;padding-top:2px;
}
#ContractDetailsPage  table.table-bordered.dataTable tbody th,#ContractDetailsPage  table.table-bordered.dataTable tbody td:first-child,#ContractDetailsPage  .table>thead:first-child>tr:first-child>th:first-child{
	padding-left: 30px;
}
#ContractDetailsPage table.dataTable thead .sorting:after{
	opacity: 1;
	margin-left: 0px;
}
#ContractDetailsPage .link-holder{
	margin-top:10px;
}
#ContractDetailsPage .link-txt{
	margin-right: 10px;
    padding-left: 20px;
}
#ContractDetailsPage .contract-cnu-head{
	width:105px;
	text-align:left;
	padding:8px 15px;
}
/* #ContractDetailsPage .contract-tcell-chckbox{
	margin:0px;	
} */
#ContractDetailsPage .contract-tcell-chckbox-mob{
	margin-top:0px !important;
}
/* #ContractDetailsPage table>tbody>tr>td:nth-child(2){
	text-align: left;
}
#ContractDetailsPage table>tbody>tr>td:nth-child(3){
	text-align: left;
} */

#ContractDetailsPage table>tbody>tr>td{
	vertical-align: middle !important;
	padding-top:10px;
	padding-bottom:10px;
}
@media only screen and (max-width:1024px){
	#ContractDetailsPage .sub-details-row{
		padding-left: 10px;
	}
	#ContractDetailsPage table.dataTable thead .sorting:after{
		margin-left: 22px;
	}
	#ContractDetailsPage table>thead>tr>th:last-child{
		text-align: center;
		width:90px;
	}
	#ContractDetailsPage table>thead>tr>th:nth-child(3){
		text-align: left;
	}
	#ContractDetailsPage .margintop20px{
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 767px) {
	#ContractDetailsPage .jnj-panel-body{
		padding: 20px 16px 20px 16px;
	}
	#ContractDetailsPage .searchby{
		margin-bottom: 20px !important;
	}
	#ContractDetailsPage .jnj-panel{
		padding: 15px 0px 40px 0px;
	}
	#ContractDetailsPage .link-holder{
		text-align:center;
		position:absolute;
		margin-top: 111px;
	}
	#ContractDetailsPage .link-txt{
		margin-right: 20px;
		padding-left: 0px;
	}
	#ContractDetailsPage div.dataTables_wrapper div.dataTables_info{
		float: left;
		margin: 20px 0px 0 30px;
	}
	#ContractDetailsPage table>tbody>tr>td{
		padding-bottom: 0px;
	}
	#ContractDetailsPage table.dataTable{
		margin-bottom: 20px !important;
	}
	#ContractDetailsPage .selectchkbox{
		/* float:left !important; - //Mobile/Tablet defect #20, 21, 22 */
	}
	#ContractDetailsPage .change{
		margin-left: 0px;
	}
	
	#ContractDetailsPage table>tbody>tr>td:nth-child(2){
		text-align: center;
		padding-right: 27px;
	}
	#ContractDetailsPage #contract-separator{
		width:100% !important;
		border-bottom:1px solid #f2f2f2;
	}
	.no-left-right-pad-mobi{
		padding-left:0px;
		padding-right:0px;
	}
}
@media screen and (max-width: 480px) {
	#ContractDetailsPage #contract-separator{
		width:100% !important;
		height:1px;
	}
	#ContractDetailsPage .contract-rightTobottom-content{
		padding-left:0px;
	}
	#ContractDetailsPage .jnj-panel {
		padding: 15px 0px 0px 0px;
	}
}