#OrderedProductpopup{
    padding: 0px;
    width: 100%;
}
#OrderedProductpopup .modalcls{
	top: 80px;
}
#OrderedProductpopup .modal-body{
	padding: 15px 25px 15px 25px;
}
#OrderedProductpopup .modal-header{
	padding: 15px 25px 15px 25px;
}
#OrderedProductpopup .popup{
	margin: 0 auto;
	width: 700px;
	border-radius: 0px;
	box-shadow: 0 0px 0px; 
}
#OrderedProductpopup .clsBtn{
	margin-top: 15px !important;
	font-size: 14px;
	color: #0a8caa;
	opacity:1;
}
#OrderedProductpopup .selectTitle{
	font-size: 30px;
}
#OrderedProductpopup .ftrcls{
	padding: 25px;
}
#OrderedProductpopup .orderedProduct-details{
	padding:10px;
	background-color:#f2f2f2;
	//background-color: rgb(249,249,249);
	margin-bottom:30px;
}
#OrderedProductpopup table>tbody>tr>td{
	padding-top:15px;
	padding-bottom:15px;
}
@media screen and (max-width: 767px) {
	#OrderedProductpopup .popup{
		width: 100%;
	}
}