#change-select-btn{display:none}
.changeAccntModal{margin:10px 0px 0px 0px !important}
#selectaccountpopup li,#selectaccountpopupMobile li{
	list-style:none;
	width:100%;
}
#changeAccountPopup ul{
	padding:0px;
}
#changeAccountPopup{
    padding: 0px;
    overflow-y: auto;
    width: 100%;
    max-height: 350px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
}
.anchor-selected{
	background: #0ac !important;
    color: white;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 15px !important;
}
.anchor-selected .code{
	color:#fff !important;
}
#selectaccountpopup .modalcls,#selectaccountpopupMobile .modalcls{
	top: 80px;
}
#selectaccountpopup .modal-body,#selectaccountpopupMobile .modal-body{
	padding: 15px 25px 15px 25px;
}
#selectaccountpopup .modal-header,#selectaccountpopupMobile .modal-header{
	padding: 15px 25px 15px 25px;
}
#selectaccountpopup .popup,#selectaccountpopupMobile .popup{ 
	margin: 0 auto;
	width: 500px;
	border-radius: 0px;
	box-shadow: 0 0px 0px; 
}

/*AAOL-5857*/
.changeAccntModalContent{
	margin: 0 auto;
	width: 600px;
	border-radius: 0px;
	box-shadow: 0 0px 0px; 
}	
#selectaccountpopup .clsBtn{
	margin-top: 15px !important;
	font-size: 14px;
	color: #0a8caa;
	opacity:1;
}
#selectaccountpopup .odd-row,#selectaccountpopupMobile .odd-row,#selectaccountpopup .odd-row .anchorcls,#selectaccountpopupMobile .odd-row .anchorcls{
	background: #fff;
}
#selectaccountpopup .even-row,#selectaccountpopup .even-row .anchorcls,#selectaccountpopupMobile .even-row,#selectaccountpopupMobile .even-row .anchorcls{
	background: rgb(251, 251, 251);
}
#selectaccountpopup .selectTitle,#selectaccountpopupMobile .selectTitle{
	font-size: 30px;
}
#selectaccountpopup .searchArea,#selectaccountpopupMobile .searchArea{
	margin: 0 auto;	
}  
#selectaccountpopup .searchBox,#selectaccountpopupMobile .searchBox{
	border-radius: 15px;
	padding-right: 40px;
}
#selectaccountpopup .searchBtn,#selectaccountpopupMobile .searchBtn{
	top: -24px;
    right: 14px;
	color: #0a8caa;
}
#selectaccountpopup .code,#selectaccountpopupMobile .code{
	padding-top: 20px;
	color: #0a8caa;
	font-size: 18px;
	font-weight: bold;
}
#selectaccountpopup .descTxt,#selectaccountpopupMobile .descTxt{
	font-size: 14px;
    padding-left: 25px;
	padding-bottom: 10px;
    line-height: 17px;
}
#selectaccountpopup .anchorcls,#selectaccountpopupMobile .anchorcls{
	border-bottom: white;
	padding-left: 25px;
	 margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 15px !important;
}
#selectaccountpopup .listclass,#selectaccountpopupMobile .listclass{
	line-height: 0px;
	margin-bottom: 0px;
/* 	height:200px;
	overflow-y:auto; */
}
#selectaccountpopup .ftrcls,#selectaccountpopupMobile .ftrcls{
	padding: 25px;
}
/* Start - Account list styling  AAOL-5857*/
.accountListArea{
	overflow-y:auto;
	max-height:350px !important;
}

.accountAddress.odd{
	background: #fff;
}
.accountAddress.even{
	background: rgb(251, 251, 251);
}
.accSearch .search-txt-box{
	display: inline-block;
    width: 73%;
    border-radius: 15px;
}
.accSearch{padding:20px 20px 0px 20px}
.accSearch .clearbtn {
    width: 20%;
}

.accSearch .searchBtn{
    color: #0a8caa;
}
 .changeaccoutnYscroll{min-height:180px}   
 .accountListYArea{min-height:250px;max-height:350px !important}
.accountAddress.even .anchorcls{
	background: rgb(251, 251, 251);
}
.accountAddress.odd .anchorcls{
	background: #fff ;
}
.odd .anchor-selected {
    background: #0ac !important;
    color: white;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 15px !important;
}
.even .anchor-selected {
    background: #ff !important;
    color: #0ac;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 15px !important;
}
/* End - Account list styling */

.search-txt-box{
	width:73%;display:inline-block;
}
.search-txt-box .searchBox{
	border-radius:15px;
	 height: 34px;
}
#orderHisSearchSelectAccountBtn{top: -29px !important;right: 7px !important;position: relative;float:right}
#clearSelectAccountBtn{width:20%;display:inline-block;}
.searchBox-inventory{
	border-radius:15px
}
.searchBox-inventory+.searchSelectAccountBtn{
	top: 30px;
    right: 43px;
    color: #0a8caa;
    position: absolute;
    border: none;
    background: none;	
}

@media screen and (max-width: 767px) {
	#selectaccountpopup .popup,#selectaccountpopupMobile .popup{
		width: 100%;
	}
	.changeAccntModalContent{
		width:100% !important;
	}
}

@media screen and (max-width: 1024px) {
	#change-select-btn{display:block !important;}
}
