table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc:after{
	position: relative !important;
    top: 0px;
    left: 8px;
	display:inline;
    font-family: FontAwesome;
	font-size:12px;
}

table.dataTable thead .sorting:after{
	opacity: 0.5;
	content: "\f0dd";
	top:-2px;
	
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
	top:3px;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
	top:-2px;
}
table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc:after{
	opacity:1;
}
table.dataTable thead .sorting_desc_disabled:after{
	 opacity: 0.5;
 }
table.dataTable {
     margin-top: 0px !important;
}
.table>thead>tr>th {
    font-weight: normal;
    //font-family: jnjlabelfont;
}
.dataTables_length label strong{
	line-height:40px;float:left;
}
.dataTables_length .btn-group.bootstrap-select:nth-of-type(1){
	margin-bottom:0px !important;
	width: 136px !important;
}
div#ordersTable_length label:nth-child(1) strong, div#datatab-desktop_length label:nth-child(1) strong{
    padding-right: 15px;
}
div#ordersTable_paginate {
    float: right;
}
div.dataTables_wrapper div.dataTables_info {
    float: right;
    margin-right: 17px;
}
.pagination>li a{
	color:#ddd !important;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
		border-bottom-width: 2px;
		background-color: #e6e6e6;
	}
.table-striped>tbody>tr:nth-of-type(odd) {
	text-align: center;
	background-color: #fff;
}
.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #f9f9f9;
	text-align: center;
}
div#tables .container {
    background: none;
}
 div.dataTables_wrapper div.dataTables_filter {
    display: none;
}
.pagination>li>a, .pagination>li>span{   
    padding: 5px 16px;
    font-size: 18px;
}	
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 0;
}
.pagination>li:last-child a {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}
.pagination>li:first-child a {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}
div#ordersTable_paginate ul li:first-child, div#ordersTable_paginate ul li:last-child {
    display: inline;
}
div#ordersTable_paginate .pagination>li {
    display: none;
}
.fontHomePage{
	font-weight: normal !important;
	font-size: 14px !important;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	font-size:10px;	
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{
	font-size:14px;
}
.orderstatuspage #ordersTablehome.table tbody tr td:nth-child(2){
    font-weight: bold; 
    color:#828282 !important;
}
.orderstatuspage #ordersTablehome.table tbody tr td:nth-child(2) a{
    font-weight: bold; 
    /*color:#828282 !important;*/
}
.orderstatuspage .mobiletable .table tbody tr:nth-child(2) td:nth-child(2){
    font-weight: bold; 
    color:#828282 !important;
}
.orderstatuspage .mobiletable .table tbody tr:nth-child(2) td:nth-child(2) a{
    font-weight: bold; 
    color:#828282 !important;
}
.table-bordered {
    border:none;
}
.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td, .table-bordered>thead>tr>td{
	border: 1px solid #f2f2f2;
} 
.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>th {
    border: 1px solid #828282d9;
	border-top:none;
	border-bottom:none;
} 
.mobiletable table.table-bordered tbody th {
    font-size: 10px;
    text-align: left;
    padding-left: 25px;
    vertical-align: middle;
    background: #f2f2f2;
    width: 42%;
}  
.mobiletable table tbody tr:first-child td {
  /*   font-size: 24px;
	font-weight: bold; */
}
.mobiletable table  tbody tr td {
    font-size: 18px;
    text-align: left;
    padding-left: 35px;
}
.mobiletable table tbody tr:last-child td {
    padding-left: 48px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -4px !important;    
}
/*   table columns nad rows customization    */

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td:last-child
, .table>thead:first-child>tr:first-child>th:last-child, table.table-bordered.dataTable tbody th:last-child{
    text-align: center;
    padding-left: 8px;
}
 table.table-bordered.dataTable tbody td:first-child, .table>thead:first-child>tr:first-child>th:first-child, table.table-bordered.dataTable tbody th:first-child{
 	 text-align: left;
 	 /* padding-left: 25px;*/
 }
table.table-bordered.dataTable tbody td:last-child{
	    padding-left: 8px;
}

/* .orderstatuspage table.dataTable thead .sorting:nth-child(2):after, .orderDetailsTable table.dataTable thead .sorting:first-child:after {
    opacity: 1 !important;
    content: "\e252" !important;
}
 .orderstatuspage table.dataTable thead .sorting_asc:nth-child(2):after, .orderDetailsTable table.dataTable thead .sorting_asc:first-child:after{
	opacity: 1 !important;
    content: "\e252" !important;
 }
 .orderstatuspage table.dataTable thead .sorting_desc:nth-child(2):after, .orderDetailsTable table.dataTable thead .sorting_desc:first-child:after{
	opacity: 1 !important;
    content: "\e253" !important; 
 }
.orderstatuspage table.dataTable thead .sorting:after,.orderDetailsTable  table.dataTable thead .sorting:after, .orderDetailsTable table.dataTable thead .sorting:nth-child(2):after{
    opacity: 0;
    content: "\e252";
}
.orderstatuspage table.dataTable thead .sorting_asc:after,.orderstatuspage table.dataTable thead .sorting_desc:after, .orderDetailsTable table.dataTable thead .sorting_asc:after,.orderDetailsTable table.dataTable thead .sorting_desc:after{
	 opacity: 0;
    content: "\e252";	
} */
.orderstatuspage div#ordersTable_wrapper {
  /*   display: none; */
}

/*mobile table*/
.mobiletable table tbody tr:last-child td:last-child   .pendingStatus, .mobiletable table tbody tr:last-child td:last-child  .deliveryStatus, .mobiletable table tbody tr:last-child td:last-child  .delayedStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #009900;
    content: "";
    position: relative;
    left: -10px;
}

#datatab-mobile td.text-left{
	padding-left:8px !important;
}
/*start - added by lokesh */
.valing-txt-table.dataTable th{
	vertical-align:middle !important;
    font-size: 12px !important;
}
.valing-txt-table.dataTable td{
	vertical-align:middle !important;
    font-size: 14px;
}
.bordernone tbody tr td {
   border-right: none !important;
}
.vlign-top{
	vertical-align:top !important;
}

.no-item-msg{
	font-size:11px  !important;
	text-align:center;
	font-style:italic;
}

div#datatab-desktop_paginate {
    float: right !important;
	padding: 17px 30px 0 0;
}
div#datatab-desktop_paginate ul li:first-child, div#datatab-desktop_paginate ul li:last-child {
    display: inline;
}

div#datatab-tablet_paginate {
    float: right !important;
	padding: 17px 30px 0 0;
}
div#datatab-tablet_paginate ul li:first-child, div#datatab-tablet_paginate ul li:last-child {
    display: inline;
}

div#datatab-mobile_paginate {
    float: right !important;
	padding: 17px 30px 0 0;
}
div#datatab-mobile_paginate ul li:first-child, div#datatab-mobile_paginate ul li:last-child {
    display: inline;
}
table.dataTable{
	margin-bottom:0px !important;
}

/*end - added by lokesh */
/* added by jshree */
div.dataTables_wrapper div.dataTables_length label {
    //font-weight: bold;
    text-align: left;
    white-space: nowrap;
    line-height:35px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
	color: #E6E6F3;
}
/* end */
.dataTables_empty{
	text-align:center !important;
}
